*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/env.php.bak
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/patches
!/patches/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/config/
!/config/**
!/docker-compose.yml
!/docker
!/docker/*/
